<div class = "container">
  <div class = "row">
    <div class = "col-md-3">
      <%= render 'users/userinfo', user: @user %>
      <%= render 'new', book: @books %>
    </div>

    <div class = "col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class = "table">
        <tbody>
          <tr>
            <td>
              <%= image_tag @book.user.get_profile_image(100,100) %>
              <br>
              <%= link_to user_path(@user.id) do %>
                <%= @book.user.name%>
              <% end %>
            </td>
            <td><%= @book.title %></td>
            <td><%= @book.body %></td>
            <td><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to "Destroy", book_path(@book.id), class: "btn btn-sm btn-danger", method: :delete, "data-confirm" => "Are you sure？"%></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
